Repository hunsche/public-detective: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

.pre-commit-config.yaml:

default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
      - id: name-tests-test
        args:
          - --pytest-test-first
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        require_serial: true
        types_or:
          - python
          - pyi
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: python
        types_or:
          - cython
          - pyi
          - python
        args:
          - --filter-files
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types:
          - python
        require_serial: true
        additional_dependencies:
          - pycodestyle
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-todos
          - flake8-variables-names
          - pep8-naming
          - darglint
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
      - id: vulture
        name: vulture
        language: python
        entry: vulture
        types:
          - python
        require_serial: true
      - id: bandit
        name: Bandit (Security Analysis - Application)
        entry: bandit
        language: python
        types:
          - python
        args:
          - -c
          - pyproject.toml
        exclude: ^source/public_detective/migrations/versions/
      - id: bandit
        name: Bandit (Security Analysis - Migrations)
        entry: bandit
        language: python
        types:
          - python
        files: ^source/public_detective/migrations/versions/
        args:
          - -c
          - .bandit-migrations.yaml
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: python
        types:
          - python
        exclude: ^(source/public_detective/migrations/|tests/|docs/)
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        types:
          - python
        exclude: ^(source/public_detective/migrations/|tests/)
        args:
          - --convention=google
      - id: pytest-cov
        name: pytest-cov
        entry: poetry run pytest -n auto --cov=source
        language: system
        types:
          - python
        pass_filenames: false

fix: poetry.lock
  poetry.lock
Due: none

fix(dependencies): downgrade importlib-metadata and update development group dependencies
  poetry.lock
  pyproject.toml
Due: none

feat: Add extraction failure handling and related messages for file processing
  source/public_detective/constants/analysis_feedback.py
  source/public_detective/repositories/procurements.py
  source/public_detective/services/analysis.py
  tests/integrations/test_full_flow.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor(migrations): remove redundant migration for inferred_extension and used_fallback_conversion; update upgrade logic in tests
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/migrations/versions/2025_10_27_0511-2a9a3b9f3e1b_add_inferred_extension_and_used_fallback_conversion_to_file_records.py
  source/public_detective/services/analysis.py
  tests/integrations/conftest.py
  tests/integrations/services/test_analysis_service_integration.py
  tests/units/providers/test_file_type.py
  tests/units/providers/test_office_converter.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_converter.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Enhance error messages for file extraction and update debug test to include inferred extension and fallback conversion status
  source/public_detective/constants/analysis_feedback.py
  tests/e2e/test_debug_conversion.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(migrations): update column types to TEXT and add new indexes for improved query performance
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
Due: flake8, vulture, bandit, pytest-cov

feat: Enhance file type handling and conversion support for additional formats
  .github/workflows/ci.yml
  docs/google-cloud-cost-summary.pdf
  docs/intelligent_budget_analysis.md
  docs/structured_risk_score_rationale_proposal.md
  source/public_detective/providers/file_type.py
  source/public_detective/services/analysis.py
  tests/e2e/test_file_extensions.py
  tests/fixtures/file_samples/valid_test.docm
  tests/fixtures/file_samples/valid_test.odg
  tests/fixtures/file_samples/valid_test.pptx
  tests/integrations/services/test_analysis.py
  tests/integrations/services/test_analysis_service_integration.py
  tests/units/providers/test_image_converter.py
  tests/units/services/test_analysis_service_extensions.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(converter): Corrects Office file conversion and adjusts supported types list
  source/public_detective/services/analysis.py
  source/public_detective/services/converter.py
  tests/integrations/services/test_analysis_service_integration.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(converter): Add xlsm to spreadsheet extensions for correct PDF conversion
  source/public_detective/providers/office_converter.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(e2e): Use real XLSM fixture for file extension test
  tests/e2e/test_file_extensions.py
  tests/fixtures/file_samples/valid_test.xlsm
Due: flake8, vulture, bandit, pytest-cov

refactor(tests): Remove unused example.ai fixture
  tests/fixtures/example.ai
Due: none

refactor: Remove warnings handling from models and repositories
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/models/analyses.py
  source/public_detective/models/file_records.py
  source/public_detective/repositories/analyses.py
  source/public_detective/repositories/file_records.py
  source/public_detective/services/analysis.py
  tests/units/repositories/test_analysis_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_pre_analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: Improve healthcheck command formatting and use environment variable for GCS bucket
  docker-compose.yaml
Due: none

fix: Add 5.30 to .gitignore
  .gitignore
Due: none

fix: Apply end-of-file-fixer to .gitignore
  .gitignore
Due: none

feat: Add temporal and federal bonus scores to mock procurement for analysis tests
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, pytest-cov

refactor: Update scoring logic to use integer division for temporal score and improve test mock variable names
  source/public_detective/services/ranking.py
  tests/units/services/test_run_ranked_analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Enhance procurement handling by adding temporal and federal bonus scores, improve test coverage, and refactor imports for consistency
  AGENTS.md
  source/public_detective/models/candidates.py
  source/public_detective/repositories/procurements.py
  source/public_detective/services/__init__.py
  source/public_detective/services/analysis.py
  source/public_detective/services/ranking.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_ranking_priority_e2e.py
  tests/integrations/services/test_ranking_service_integration.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_ranking_service.py
  tests/units/services/test_run_ranked_analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Add RedFlagSeverity enumeration and update related models and tests for severity handling
  source/public_detective/models/analyses.py
  source/public_detective/repositories/procurements.py
  source/public_detective/services/analysis.py
  tests/units/models/test_analysis.py
  tests/units/repositories/test_analysis_repository.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Enhance pre-analysis robustness and calibrate AI prompt
  .vscode/settings.json
  source/public_detective/cli/worker.py
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/models/analyses.py
  source/public_detective/models/candidates.py
  source/public_detective/models/procurement_analysis_status.py
  source/public_detective/models/procurements.py
  source/public_detective/models/source_documents.py
  source/public_detective/providers/ai.py
  source/public_detective/repositories/analyses.py
  source/public_detective/repositories/file_records.py
  source/public_detective/repositories/procurements.py
  source/public_detective/repositories/source_documents.py
  source/public_detective/repositories/status_histories.py
  source/public_detective/services/analysis.py
  source/public_detective/services/pricing.py
  source/public_detective/services/ranking.py
  source/public_detective/worker/subscription.py
  tests/e2e/test_file_extensions.py
  tests/e2e/test_worker_flow.py
  tests/integrations/services/test_analysis_service_integration.py
  tests/integrations/services/test_ranking_service_integration.py
  tests/integrations/test_full_flow.py
  tests/units/providers/test_ai.py
  tests/units/repositories/test_analysis_repository.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/repositories/test_source_documents_repository.py
  tests/units/services/test_analysis_prompt.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_pre_analysis.py
  tests/units/services/test_pricing.py
  tests/units/services/test_ranking_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: introduce initial web application with analysis and dashboard views
  .tool-versions
  analysis_debug.html
  analysis_debug_2.html
  check_db.py
  poetry.lock
  pyproject.toml
  seed_data.py
  source/public_detective/cli/__init__.py
  source/public_detective/cli/serve.py
  source/public_detective/web/app.py
  source/public_detective/web/routes/__init__.py
  source/public_detective/web/routes/analysis.py
  source/public_detective/web/routes/dashboard.py
  source/public_detective/web/routes/home.py
  source/public_detective/web/services/analysis.py
  source/public_detective/web/services/dashboard.py
  source/public_detective/web/static/css/styles.css
  source/public_detective/web/static/js/animations.js
  source/public_detective/web/static/js/main.js
  source/public_detective/web/strings.py
  source/public_detective/web/templates/analysis.html
  source/public_detective/web/templates/base.html
  source/public_detective/web/templates/dashboard.html
  source/public_detective/web/templates/index.html
  source/public_detective/web/templates_config.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Implement a web UI for procurement analysis, including a demo and a new CLI serve command.
  poetry.lock
  pyproject.toml
  source/public_detective/cli/__init__.py
  source/public_detective/cli/serve.py
  source/public_detective/repositories/analyses.py
  source/public_detective/repositories/procurements.py
  source/public_detective/web/app.py
  source/public_detective/web/routers/about.py
  source/public_detective/web/routers/analysis.py
  source/public_detective/web/routers/demo.py
  source/public_detective/web/routers/home.py
  source/public_detective/web/routers/search.py
  source/public_detective/web/static/css/styles.css
  source/public_detective/web/static/js/animations.js
  source/public_detective/web/templates/about.html
  source/public_detective/web/templates/analysis_detail.html
  source/public_detective/web/templates/base.html
  source/public_detective/web/templates/index.html
  source/public_detective/web/templates/partials/filters_sidebar.html
  source/public_detective/web/templates/partials/search_results.html
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

test: Fix E2E file extension tests and unit test crc error
  .gitignore
  tests/fixtures/file_samples/valid_test.avi
  tests/fixtures/file_samples/valid_test.mov
  tests/fixtures/file_samples/valid_test.mp4
  tests/units/repositories/test_procurement_repository.py
Due: flake8, vulture, bandit, pytest-cov

feat: refine analysis prompt for consistency and fix deep link regression
  poetry.lock
  pyproject.toml
  source/public_detective/models/analyses.py
  source/public_detective/providers/ai.py
  source/public_detective/providers/config.py
  source/public_detective/repositories/analyses.py
  source/public_detective/services/analysis.py
  tests/e2e/test_full_e2e.py
  tests/units/providers/test_ai.py
  tests/units/services/test_analysis_prompt.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: add grounding metadata support and allow analysis without documents
  source/public_detective/cli/analysis.py
  source/public_detective/cli/worker.py
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/models/analyses.py
  source/public_detective/providers/ai.py
  source/public_detective/repositories/analyses.py
  source/public_detective/services/analysis.py
  source/public_detective/services/pricing.py
  source/public_detective/services/ranking.py
  source/public_detective/worker/subscription.py
  tests/e2e/test_file_extensions.py
  tests/integrations/services/test_analysis_service_integration.py
  tests/integrations/services/test_ranking_service_integration.py
  tests/integrations/test_full_flow.py
  tests/units/providers/test_ai.py
  tests/units/providers/test_gcs.py
  tests/units/providers/test_image_converter.py
  tests/units/repositories/test_analysis_repository.py
  tests/units/services/test_analysis_prompt.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_analysis_service_extensions.py
  tests/units/services/test_analysis_service_retry.py
  tests/units/services/test_pre_analysis.py
  tests/units/services/test_pricing.py
  tests/units/services/test_ranking_service.py
  tests/units/services/test_run_ranked_analysis.py
  tests/units/worker/test_subscription.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix: disable multiprocessing for py7zr archive operations.
  source/public_detective/repositories/procurements.py
  tests/units/repositories/test_procurement_repository.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Add current analysis execution date to the prompt and update tests.
  source/public_detective/services/analysis.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

test: add current execution date to analysis prompt test JSON data
  tests/units/services/test_analysis_prompt.py
Due: flake8, vulture, bandit, pytest-cov

docs: Clarify source citation rules and simplify source type references in analysis documentation.
  source/public_detective/services/analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

docs: Refine price analysis instructions by adding mandatory search terms, clarifying source quantity rules, and simplifying source type classification.
  tests/units/services/test_analysis_prompt.py
Due: flake8, vulture, bandit, pytest-cov

feat: Refine cost estimation and remove deprecated config
  AGENTS.md
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/models/analyses.py
  source/public_detective/providers/config.py
  source/public_detective/repositories/analyses.py
  source/public_detective/services/analysis.py
  source/public_detective/services/pricing.py
  source/public_detective/services/ranking.py
  tests/e2e/test_full_e2e.py
  tests/integrations/services/test_ranking_service_integration.py
  tests/units/repositories/test_analysis_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_pre_analysis_cost.py
  tests/units/services/test_pricing.py
  tests/units/services/test_ranking_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: rename ranking fields to current_* prefix for clarity
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/models/procurements.py
  source/public_detective/repositories/procurements.py
  source/public_detective/services/ranking.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_ranking_priority_e2e.py
  tests/integrations/services/test_ranking_service_integration.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_ranking_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix: update unit test mocks to use current_priority_score
  source/public_detective/services/analysis.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_run_ranked_analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix: resolve mypy error in AiProvider and update tests
  source/public_detective/providers/ai.py
  tests/units/providers/test_ai.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: refine analysis guidelines for pricing, severity classification, and rationale documentation.
  source/public_detective/services/analysis.py
  tests/units/services/test_analysis_prompt.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

urgent commit
  build_dist.py
  extract_showcase_data.py
  purge_subscription.py
  sample_analysis.json
  sample_procurement.json
  showcase/data.js
  showcase/index.html
  showcase/script.js
  showcase/style.css
  source/public_detective/models/analyses.py
  source/public_detective/providers/pubsub.py
  source/public_detective/repositories/analyses.py
  source/public_detective/repositories/source_documents.py
  source/public_detective/services/analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: add backfill logic to ensure `max_messages` limit is met by selecting unallocated analyses.
  source/public_detective/services/analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: add new procurement analysis data record
  showcase/data.js
Due: none
