Repository hunsche/public-detective: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  additional_dependencies:
  - flake8-bugbear
  - flake8-comprehensions
  - flake8-todos
  - darglint

vulture:
  name: vulture
  language: python
  entry: vulture
  require_serial: true

bandit:
  name: Bandit (Security Analysis - Migrations)
  entry: bandit
  language: python
  args:
  - -c
  - .bandit-migrations.yaml

interrogate:
  name: interrogate
  entry: interrogate
  language: python
  args:
  - -v
  - --fail-under=95

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: python
  args:
  - --convention=google

pytest-cov:
  name: pytest-cov
  entry: poetry run pytest --cov=source
  language: system
  pass_filenames: false

refactor: Consolidate E2E test setup and environment configuration
  poetry.lock
  source/providers/ai.py
  tests/e2e/conftest.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_pre_analyze.py
  tests/e2e/test_token_counting.py
  tests/e2e/test_vertex_ai.py
  tests/e2e/test_worker.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: Adjust project structure and dependencies
  AGENTS.md
  README.md
  poetry.lock
  pyproject.toml
  source/providers/ai.py
  source/public_detective/cli/commands.py
  source/public_detective/migrations/env.py
  source/public_detective/migrations/helpers.py
  source/public_detective/migrations/script.py.mako
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/models/analyses.py
  source/public_detective/providers/config.py
  source/public_detective/providers/gcs.py
  source/public_detective/providers/pubsub.py
  source/public_detective/worker/subscription.py
  tests/e2e/conftest.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_pre_analyze.py
  tests/e2e/test_token_counting.py
  tests/e2e/test_vertex_ai.py
  tests/e2e/test_worker.py
  tests/fixtures/3304557/2025-08-23/gemini_response.json
  tests/integrations/conftest.py
  tests/integrations/test_full_flow.py
  tests/integrations/test_retry_command_integration.py
  tests/units/cli/test_commands.py
  tests/units/models/test_analysis.py
  tests/units/models/test_analysis_schema.py
  tests/units/providers/test_ai.py
  tests/units/providers/test_gcs.py
  tests/units/providers/test_pubsub.py
  tests/units/repositories/test_analysis_repository.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(ci): Align mypy configuration with CI environment
  source/providers/ai.py
  source/public_detective/providers/ai.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(ai): Update AI provider to use new Content structure for prompt and file parts
  AGENTS.md
  source/public_detective/providers/ai.py
  tests/units/providers/test_ai.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Enhance configuration and documentation for GCP integration and E2E tests
  .env.example
  AGENTS.md
  README.md
  docker-compose.yaml
  pyproject.toml
  source/public_detective/providers/config.py
  tests/e2e/README.md
  tests/integrations/conftest.py
  tests/units/conftest.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Update environment configuration and enhance README for integration and E2E tests
  .env.example
  README.md
  tests/e2e/conftest.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_pre_analyze.py
  tests/e2e/test_token_counting.py
  tests/e2e/test_worker.py
  tests/integrations/README.md
  tests/units/README.md
Due: flake8, vulture, bandit, pytest-cov

fix(tests): Simplify e2e_pubsub fixture and manage Google credentials restoration
  tests/e2e/conftest.py
Due: flake8, vulture, bandit, pytest-cov

feat: Parallelize tests using pytest-xdist
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

feat: Add health checks and dynamic config to docker-compose
  .gemini/settings.json
  docker-compose.yaml
Due: none

fix(tests): Fix flaky integration and E2E tests
  tests/e2e/test_full_e2e.py
  tests/integrations/conftest.py
  tests/integrations/test_full_flow.py
Due: flake8, vulture, bandit, pytest-cov

refactor: Remove redundant noqa from flake8 config
  .flake8
Due: none

refactor: Address linting issues and improve code clarity
  .flake8
  .pre-commit-config.yaml
  linting/local_linters/__init__.py
  linting/local_linters/flake8_no_hash_comments.py
  linting/pyproject.toml
  poetry.lock
  problem
  pyproject.toml
  source/public_detective/cli/commands.py
  source/public_detective/providers/logging.py
  source/public_detective/services/pricing_service.py
  tests/e2e/conftest.py
  tests/e2e/test_file_extensions.py
  tests/e2e/test_pre_analyze.py
  tests/e2e/test_worker.py
  tests/integrations/conftest.py
  tests/integrations/test_database_relationships.py
  tests/integrations/test_full_flow.py
  tests/integrations/test_linter_integration.py
  tests/units/cli/test_commands.py
  tests/units/linters/test_flake8_no_hash_comments.py
  tests/units/providers/test_gcs.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_converter_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

chore: Revert linter version to 1.1.0
  linting/local_linters/flake8_no_hash_comments.py
  linting/pyproject.toml
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: Address linting issues and improve code clarity
  .flake8
  source/public_detective/providers/config.py
  source/public_detective/services/analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Improve test coverage and robustness
  pyproject.toml
  source/public_detective/cli/__main__.py
  source/public_detective/services/pricing_service.py
  tests/integrations/test_linter_integration.py
  tests/units/cli/test_main.py
  tests/units/linters/test_flake8_no_hash_comments.py
  tests/units/providers/test_gcs.py
  tests/units/repositories/test_file_record_repository.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_pre_analysis.py
  tests/units/worker/test_subscription.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor(cli): Group CLI commands and fix related tests
  pyproject.toml
  source/public_detective/cli/__init__.py
  source/public_detective/cli/__main__.py
  source/public_detective/cli/analysis.py
  source/public_detective/cli/worker.py
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  tests/e2e/test_file_extensions.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_pre_analyze.py
  tests/e2e/test_worker_flow.py
  tests/integrations/test_retry_command_integration.py
  tests/units/cli/test_analysis_commands.py
  tests/units/cli/test_main.py
  tests/units/cli/test_retry_command.py
  tests/units/cli/test_worker_command.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(tests): Unify database migration lock for all tests
  tests/e2e/conftest.py
  tests/integrations/conftest.py
Due: flake8, vulture, bandit, pytest-cov

feat: Implement robust cost control and budget management
  CONTRIBUTING.md
  README.md
  source/public_detective/cli/__init__.py
  source/public_detective/cli/analysis.py
  source/public_detective/cli/config.py
  source/public_detective/cli/db.py
  source/public_detective/cli/progress.py
  source/public_detective/services/analysis.py
  tests/units/cli/test_analysis_commands.py
  tests/units/cli/test_config_commands.py
  tests/units/cli/test_db_commands.py
  tests/units/cli/test_db_direct.py
  tests/units/cli/test_db_isolated.py
  tests/units/cli/test_progress_policy.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(cli): Unify debug and verbosity flags
  .env.example
  README.md
  source/public_detective/cli/__init__.py
  source/public_detective/providers/config.py
  source/public_detective/providers/logging.py
  tests/units/cli/test_global_options.py
  tests/units/worker/test_subscription.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

Enhance README with CLI command details
  README.md
Due: none

feat(gcs): Enhance GCS integration with cleanup manager and metadata handling
  docker-compose.yaml
  source/public_detective/cli/analysis.py
  source/public_detective/cli/worker.py
  source/public_detective/providers/gcs.py
  source/public_detective/services/analysis.py
  source/public_detective/worker/subscription.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/test_gcs_cleanup_e2e.py
  tests/integrations/conftest.py
  tests/integrations/test_gcs_metadata_and_cleanup.py
  tests/units/providers/test_gcs.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(tests): Implement GCS cleanup manager for E2E and integration tests
  .vscode/launch.json
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/test_file_extensions.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_gcs_cleanup_e2e.py
  tests/e2e/test_pre_analyze.py
  tests/e2e/test_token_counting.py
  tests/e2e/test_worker_flow.py
  tests/integrations/conftest.py
  tests/integrations/test_gcs_metadata_and_cleanup.py
Due: flake8, vulture, bandit, pytest-cov

docs: update README.md and CONTRIBUTING.md to reflect new CLI structure
  CONTRIBUTING.md
  README.md
Due: none

feat: Add new project logo and update README header
  README.md
  docs/logo.svg
Due: none

docs: Update GIF in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(http): Implement centralized HTTP client with request delay and retry mechanism
  .env.example
  poetry.lock
  pyproject.toml
  source/public_detective/cli/__init__.py
  source/public_detective/cli/analysis.py
  source/public_detective/cli/worker.py
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/providers/config.py
  source/public_detective/providers/http.py
  source/public_detective/providers/logging.py
  source/public_detective/repositories/procurements.py
  tests/integrations/test_full_flow.py
  tests/units/cli/test_global_options.py
  tests/units/cli/test_worker_command.py
  tests/units/providers/test_http_provider.py
  tests/units/repositories/test_procurement_repository.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Enhance analysis service and repositories with improved error handling and file record management
  .coveragerc
  source/public_detective/cli/analysis.py
  source/public_detective/repositories/analyses.py
  source/public_detective/repositories/file_records.py
  source/public_detective/services/analysis.py
  source/public_detective/worker/subscription.py
  tests/e2e/conftest.py
  tests/e2e/test_full_e2e.py
  tests/integrations/test_full_flow.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(tests): Integrate HttpProvider into E2E tests for enhanced procurement handling
  tests/e2e/test_file_extensions.py
  tests/e2e/test_full_e2e.py
  tests/e2e/test_worker_flow.py
Due: flake8, vulture, bandit, pytest-cov

refactor(tests): Simplify mock return values in pre-analysis tests
  tests/integrations/test_full_flow.py
  tests/units/services/test_pre_analysis.py
Due: flake8, vulture, bandit, pytest-cov

feat(analysis): Improve conversion robustness and debugging
  poetry.lock
  source/public_detective/cli/analysis.py
  source/public_detective/constants/analysis_feedback.py
  source/public_detective/repositories/procurements.py
  source/public_detective/services/analysis.py
  source/public_detective/services/converter.py
  tests/e2e/conftest.py
  tests/e2e/test_debug_conversion.py
  tests/integrations/test_gcs_metadata_and_cleanup.py
  tests/units/cli/test_analysis_commands.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_analysis_service_extensions.py
  tests/units/services/test_converter_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(analysis): Add procurement preparation by control number and improve file conversion
  poetry.lock
  source/public_detective/cli/analysis.py
  source/public_detective/constants/analysis_feedback.py
  source/public_detective/repositories/procurements.py
  source/public_detective/services/analysis.py
  source/public_detective/services/converter.py
  tests/e2e/conftest.py
  tests/e2e/test_debug_conversion.py
  tests/units/cli/test_analysis_commands.py
  tests/units/repositories/test_procurement_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_analysis_service_extensions.py
  tests/units/services/test_converter_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(tests): Add custom skip message for tests missing procurement control number
  tests/e2e/conftest.py
Due: flake8, vulture, bandit, pytest-cov

refactor(converter): Standardize office conversions to PDF via LibreOffice
  README.md
  poetry.lock
  pyproject.toml
  source/public_detective/providers/office_converter.py
  source/public_detective/services/analysis.py
  source/public_detective/services/converter.py
  tests/units/providers/test_office_converter.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_converter.py
  tests/units/services/test_converter_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor(converter): Remove concurrency lock from OfficeConverterProvider
  source/public_detective/providers/office_converter.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(tests): Update environment variable setup in E2E file extension tests
  .github/workflows/ci.yml
  tests/e2e/test_file_extensions.py
Due: flake8, vulture, bandit, pytest-cov

feat(converter): Standardize spreadsheet conversion to PDF
  poetry.lock
  pyproject.toml
  source/public_detective/services/analysis.py
  source/public_detective/services/converter.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_analysis_service_extensions.py
  tests/units/services/test_converter_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix(converter): Implement safe scaling for spreadsheet to PDF conversion
  source/public_detective/providers/office_converter.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat(converter): Add support for ODT and ODS file conversions
  pyproject.toml
  source/public_detective/providers/office_converter.py
  source/public_detective/services/analysis.py
  source/public_detective/services/converter.py
  tests/e2e/conftest.py
  tests/e2e/test_debug_conversion.py
  tests/e2e/test_file_extensions.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  bandit: (any of: \.py$, but not: ^source/migrations/versions/) or (any of: ^source/migrations/versions/ and \.py$)
  interrogate: any of: \.py$, but not: ^(source/migrations/|tests/)
  pydocstyle: any of: \.py$, but not: ^(source/migrations/|tests/)
  pytest-cov: any of: \.py$
