Repository hunsche/public-detective: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  additional_dependencies:
  - pycodestyle
  - flake8-bugbear
  - flake8-comprehensions
  - flake8-todos
  - flake8-variables-names
  - pep8-naming
  - darglint

vulture:
  name: vulture
  language: python
  entry: vulture
  require_serial: true

bandit:
  name: Bandit (Security Analysis - Migrations)
  entry: bandit
  language: python
  args:
  - -c
  - .bandit-migrations.yaml

interrogate:
  name: interrogate
  entry: interrogate
  language: python

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: python
  args:
  - --convention=google

pytest-cov:
  name: pytest-cov
  entry: poetry run pytest -n auto --cov=source
  language: system
  pass_filenames: false

feat: migrate showcase and related scripts from urgent branch
  build_dist.py
  extract_showcase_data.py
  purge_subscription.py
  sample_analysis.json
  sample_procurement.json
  showcase/data.js
  showcase/index.html
  showcase/script.js
  showcase/style.css
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

chore: remove purge_subscription.py not related to showcase
  purge_subscription.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

chore: remove showcase files moved to feat/showcase-migration
  build_dist.py
  extract_showcase_data.py
  sample_analysis.json
  sample_procurement.json
  showcase/data.js
  showcase/index.html
  showcase/script.js
  showcase/style.css
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: Remove PubSub subscription purging script and associated imports, and clean up verbose comments in analysis services and models.
  purge_subscription.py
  source/public_detective/models/analyses.py
  source/public_detective/providers/pubsub.py
  source/public_detective/services/analysis.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: rename parameters and add docstring details to price parsing validators.
  source/public_detective/models/analyses.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Improve analysis service resilience by warning on missing file records and add comprehensive tests for models and repositories.
  source/public_detective/providers/pubsub.py
  source/public_detective/services/analysis.py
  tests/integrations/services/test_analysis_service_integration.py
  tests/integrations/test_retry_command_integration.py
  tests/units/models/test_analyses.py
  tests/units/providers/test_pubsub.py
  tests/units/repositories/test_file_record_repository.py
  tests/units/repositories/test_source_documents_repository.py
  tests/units/services/test_analysis_service.py
  tests/units/services/test_analysis_service_candidates.py
  tests/units/services/test_analysis_service_coverage.py
  tests/units/services/test_analysis_service_flow.py
  tests/units/services/test_analysis_service_pre_analysis.py
  tests/units/services/test_analysis_service_ranked.py
  tests/units/services/test_analysis_service_retry.py
  tests/units/services/test_ranking_service.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

fix: resolve all pre-commit hook failures (flake8, mypy, bandit, pydocstyle)
  source/public_detective/cli/__init__.py
  source/public_detective/cli/db.py
  source/public_detective/cli/web.py
  source/public_detective/repositories/analyses.py
  source/public_detective/web/main.py
  source/public_detective/web/pages.py
  source/public_detective/web/presentation.py
  source/public_detective/web/static/logo.svg
  source/public_detective/web/templates/analyses.html
  source/public_detective/web/templates/analysis_detail.html
  source/public_detective/web/templates/index.html
  source/public_detective/web/templates/partials/analysis_list.html
  tests/fixtures/seed.sql
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

docs: Refine project documentation, update development tooling configurations, and adjust web templates.
  .bandit-migrations.yaml
  .github/SECURITY.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  source/public_detective/web/templates/404.html
  source/public_detective/web/templates/analyses.html
  source/public_detective/web/templates/analysis_detail.html
  source/public_detective/web/templates/base.html
  source/public_detective/web/templates/index.html
  source/public_detective/web/templates/partials/analysis_list.html
  tests/e2e/README.md
  tests/integrations/README.md
  tests/units/README.md
Due: none

feat: Add a new web interface for analyses and remove the old showcase.
  AGENTS.md
  README.md
  build_dist.py
  docs/logo.svg
  extract_showcase_data.py
  sample_analysis.json
  sample_procurement.json
  showcase/data.js
  showcase/index.html
  showcase/script.js
  showcase/style.css
  source/public_detective/cli/__init__.py
  source/public_detective/cli/db.py
  source/public_detective/cli/web.py
  source/public_detective/models/analyses.py
  source/public_detective/repositories/analyses.py
  source/public_detective/web/main.py
  source/public_detective/web/pages.py
  source/public_detective/web/presentation.py
  source/public_detective/web/static/logo.svg
  source/public_detective/web/templates/404.html
  source/public_detective/web/templates/analyses.html
  source/public_detective/web/templates/analysis_detail.html
  source/public_detective/web/templates/base.html
  source/public_detective/web/templates/index.html
  source/public_detective/web/templates/partials/analysis_list.html
  tests/fixtures/seed.sql
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Implement web interface for analysis list, add E2E and integration tests, and update database commands and seed data.
  .env.example
  AGENTS.md
  poetry.lock
  pyproject.toml
  pytest.ini
  source/public_detective/cli/db.py
  source/public_detective/migrations/versions/2025_08_31_2356-9594c79c1cd3_initial_migrations_.py
  source/public_detective/repositories/analyses.py
  source/public_detective/web/main.py
  source/public_detective/web/pages.py
  source/public_detective/web/presentation.py
  source/public_detective/web/templates/partials/analysis_list.html
  tests/e2e/README.md
  tests/e2e/web/conftest.py
  tests/e2e/web/test_basic_flow.py
  tests/e2e/workflows/__init__.py
  tests/e2e/workflows/conftest.py
  tests/e2e/workflows/test_debug_conversion.py
  tests/e2e/workflows/test_file_extensions.py
  tests/e2e/workflows/test_full_e2e.py
  tests/e2e/workflows/test_gcs_cleanup_e2e.py
  tests/e2e/workflows/test_pre_analyze.py
  tests/e2e/workflows/test_ranking_priority_e2e.py
  tests/e2e/workflows/test_token_counting.py
  tests/e2e/workflows/test_worker_flow.py
  tests/fixtures/seed.sql
  tests/integrations/services/test_analysis_service_integration.py
  tests/integrations/web/conftest.py
  tests/integrations/web/test_web_integration.py
  tests/units/cli/test_db_commands.py
  tests/units/cli/test_db_direct.py
  tests/units/cli/test_db_isolated.py
  tests/units/web/test_pages.py
  tests/units/web/test_presentation.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: web analyses query parameter and CLI db commands, and add comprehensive unit tests for web, CLI, and repositories.
  source/public_detective/cli/db.py
  source/public_detective/web/pages.py
  tests/e2e/web/conftest.py
  tests/e2e/web/test_basic_flow.py
  tests/integrations/web/conftest.py
  tests/integrations/web/test_web_integration.py
  tests/units/cli/test_cli_web.py
  tests/units/cli/test_db_commands.py
  tests/units/repositories/test_analyses_repository.py
  tests/units/web/test_pages.py
  tests/units/web/test_presentation.py
  tests/units/web/test_web_main.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: add agency icon to analysis list items
  source/public_detective/web/templates/partials/analysis_list.html
Due: none

chore: update Poetry to 2.1.3, add dependency groups, and refine dependency markers for packages and extras.
  poetry.lock
Due: none

feat: Implement dark mode and update UI color palette.
  source/public_detective/web/templates/analyses.html
  source/public_detective/web/templates/analysis_detail.html
  source/public_detective/web/templates/base.html
  source/public_detective/web/templates/index.html
  source/public_detective/web/templates/partials/analysis_list.html
Due: none

chore: dockerize cli and update workflows
  .github/workflows/release.yml
  .github/workflows/validation.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

chore: fix ci workflow and standardize pre-commit names
  .github/workflows/validation.yml
  .pre-commit-config.yaml
Due: none

feat: Refactor test database setup by removing seed file patching, introducing direct SQL seeding, and resetting the database engine for schema isolation, and reorder CI migration step.
  .github/workflows/validation.yml
  tests/e2e/web/conftest.py
  tests/integrations/conftest.py
Due: flake8, vulture, bandit, pytest-cov

test: Add unit tests for CLI db commands and web page functions, including schema handling, interactive reset, and HTMX requests.
  tests/units/cli/test_db_commands.py
  tests/units/web/test_pages.py
Due: flake8, vulture, bandit, pytest-cov

fix(web): improve risk rationale visibility and fix rustywind ci error
  .pre-commit-config.yaml
  source/public_detective/web/templates/analysis_detail.html
Due: none

feat: Add Artifact Registry module and rename VPC/subnetwork resources.
  source/infrastructure/modules/registry/main.tf
  source/infrastructure/modules/registry/outputs.tf
  source/infrastructure/modules/registry/variables.tf
  source/infrastructure/modules/vpc/main.tf
  source/infrastructure/registry/terragrunt.hcl
Due: none

feat: Implement initial Terragrunt and Terraform infrastructure for GCP VPC, remote state, and update project configuration and documentation.
  .gitignore
  .tool-versions
  source/infrastructure/README.md
  source/infrastructure/modules/vpc/main.tf
  source/infrastructure/modules/vpc/outputs.tf
  source/infrastructure/modules/vpc/variables.tf
  source/infrastructure/root.hcl
  source/infrastructure/vpc/terragrunt.hcl
Due: none

chore: fix terraform linting errors and update ci workflow
  .github/workflows/validation.yml
  .gitignore
  .pre-commit-config.yaml
  .tflint.hcl
  .tool-versions
  source/infrastructure/.terraform.lock.hcl
  source/infrastructure/modules/registry/main.tf
  source/infrastructure/modules/vpc/main.tf
  source/infrastructure/registry/.terraform.lock.hcl
  source/infrastructure/vpc/.terraform.lock.hcl
  tests/integrations/web/conftest.py
Due: flake8, vulture, bandit, pytest-cov

feat: Implement Workload Identity Federation for GitHub Actions to authenticate with Artifact Registry and update the release workflow.
  .github/workflows/release.yml
  .github/workflows/validation.yml
  source/infrastructure/modules/registry/main.tf
  source/infrastructure/modules/registry/outputs.tf
  source/infrastructure/modules/registry/variables.tf
  source/infrastructure/registry/terragrunt.hcl
Due: none

fix: add id-token write permission for OIDC auth
  .github/workflows/release.yml
Due: none

feat: enable required google apis in registry module
  source/infrastructure/modules/registry/main.tf
Due: none

feat: Add Terragrunt configurations and Terraform modules to provision a GCP PostgreSQL database and manage DNS zones.
  source/infrastructure/database/.terraform.lock.hcl
  source/infrastructure/database/terragrunt.hcl
  source/infrastructure/dns/.terraform.lock.hcl
  source/infrastructure/dns/terragrunt.hcl
  source/infrastructure/modules/database/main.tf
  source/infrastructure/modules/database/outputs.tf
  source/infrastructure/modules/database/variables.tf
  source/infrastructure/modules/dns/main.tf
  source/infrastructure/modules/dns/outputs.tf
  source/infrastructure/modules/dns/variables.tf
Due: none

feat: Implement Cloud Run infrastructure and Cloud SQL IAM authentication
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  source/infrastructure/README.md
  source/infrastructure/cloudrun/.terraform.lock.hcl
  source/infrastructure/cloudrun/terragrunt.hcl
  source/infrastructure/database/.terraform.lock.hcl
  source/infrastructure/dns/terragrunt.hcl
  source/infrastructure/modules/cloudrun/main.tf
  source/infrastructure/modules/cloudrun/outputs.tf
  source/infrastructure/modules/cloudrun/variables.tf
  source/infrastructure/modules/database/main.tf
  source/infrastructure/modules/database/outputs.tf
  source/infrastructure/modules/dns/main.tf
  source/public_detective/providers/config.py
  source/public_detective/providers/database.py
  source/public_detective/web/templates/base.html
  source/public_detective/web/templates/index.html
  tests/e2e/web/test_basic_flow.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

build: update pd-cli image to v0.1.4
  source/infrastructure/cloudrun/terragrunt.hcl
Due: none

feat: configure FastAPI to use ProxyHeadersMiddleware for trusted hosts
  source/public_detective/web/main.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

feat: Update application title to 'Detetive Público' and bump Cloud Run image version to v0.1.5.
  pyproject.toml
  source/infrastructure/cloudrun/terragrunt.hcl
  source/public_detective/web/main.py
Due: flake8, vulture, bandit, interrogate, pydocstyle, pytest-cov

refactor: Reorder CSS classes in base template and remove unused import in mobile layout test.
  source/public_detective/web/templates/base.html
  tests/e2e/web/test_mobile_layout.py
Due: flake8, vulture, bandit, pytest-cov

feat: Update Cloud Run image to v0.1.6 and enable database query insights.
  source/infrastructure/cloudrun/terragrunt.hcl
  source/infrastructure/modules/database/main.tf
Due: none

feat: Add database insights configuration and update Cloud Run service image to v0.1.6
  source/infrastructure/cloudrun/terragrunt.hcl
  source/infrastructure/modules/database/main.tf
Due: none

Update print statement from 'Hello' to 'Goodbye'
  .github/workflows/showcase.yml
Due: none

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  bandit: (any of: \.py$, but not: ^source/public_detective/migrations/versions/) or (any of: ^source/public_detective/migrations/versions/ and \.py$)
  interrogate: any of: \.py$, but not: ^(source/public_detective/migrations/|tests/|docs/)
  pydocstyle: any of: \.py$, but not: ^(source/public_detective/migrations/|tests/)
  pytest-cov: any of: \.py$
